# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- main
 
pool:
  vmImage: 'windows-latest'
 
variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  webAppPackage: '$(build.artifactStagingDirectory)/WebApp.zip'
 
stages:
 
# ======================================================
# 1. BUILD STAGE
# ======================================================
- stage: Build
  displayName: "Build & Test Stage"
  jobs:
    - job: BuildJob
      displayName: "Build ASP.NET Core (.NET Framework)"
      steps:
 
        - task: NuGetToolInstaller@1
 
        - task: NuGetCommand@2
          inputs:
            restoreSolution: '$(solution)'
 
        - task: VSBuild@1
          inputs:
            solution: '$(solution)'
            msbuildArgs: >
              /p:DeployOnBuild=true
              /p:WebPublishMethod=Package
              /p:PackageAsSingleFile=true
              /p:SkipInvalidConfigurations=true
              /p:DesktopBuildPackageLocation="$(webAppPackage)"
              /p:DeployIisAppPath="Default Web Site"
            platform: '$(buildPlatform)'
            configuration: '$(buildConfiguration)'
 
        - task: VSTest@2
          inputs:
            platform: '$(buildPlatform)'
            configuration: '$(buildConfiguration)'
 
        # Publish artifact for deployment stage
        - task: PublishBuildArtifacts@1
          inputs:
            pathToPublish: "$(build.artifactStagingDirectory)"
            artifactName: "drop"
 
 
# ======================================================
# 2. RELEASE (DEPLOYMENT) STAGE
# ======================================================
- stage: Deploy
  displayName: "Release Deployment Stage"
  dependsOn: Build
  condition: succeeded()
  jobs:
    - deployment: DeployWeb
      displayName: "Deploy to Azure App Service"
      environment: "dev"     # Change to your environment name (dev/qa/prod)
      strategy:
        runOnce:
          deploy:
            steps:
 
              - download: current
                artifact: drop
              - task: AzureRmWebAppDeployment@5
                inputs:
                  ConnectionType: 'AzureRM'
                  azureSubscription: 'Demo-Sub'
                  appType: 'webApp'
                  WebAppName: 'Demo-WeatherApp'
                  packageForLinux: '$(Pipeline.Workspace)\drop\*.zip'
              
